<div
  class="container pt-3 d-flex flex-column justify-content-center align-items-center"
  style="height: 90vh; background-color: black; color: #fff;"
>
  <div style="background-color: red; " style="height: 13vh">
    <h1 >Topmamas Assignment</h1>
  </div>
  <div>
    <p class="w-50 text-center" style="margin-left: auto; margin-right: auto; font-family: Verdana, Geneva, Tahoma, sans-serif">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus quaerat
      labore at dolore, eos ipsa soluta id architecto quasi a aliquid impedit
      rerum vero accusantium, similique quam laborum repellendus. Praesentium
      inventore earum quod nihil ea odit enim dolorem vitae blanditiis, optio
      placeat nam saepe qui nesciunt eligendi sequi, quaerat dolores?
    </p>
  </div>
</div>
